
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,100;1,200;1,300;1,500;1,700&display=swap');
:root{
  --overlay-color:lightgoldenrodyellow;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Poppins',Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:40px 100px;
  z-index:1000;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
header .logo{
  color:#fff;
  text-transform:uppercase;
  cursor:pointer;
}

.showcase{
  position:absolute;
  right:0;
  width:100%;
  min-height: 100vh;
  padding:100px;
  display: FLEX;
  justify-content:space-between;
  align-items:center;
  background:#111;
  color: #fff;
  z-index: index 2;
  transition:0.5s;
}
.showcase.active{
  right:300px;
}
.showcase header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  padding:40px 100px;
  z-index:1000;
  display:flex;
  align-items: center;
  justify-content:space-between;

}
.logo{
  text-transform:uppercase;
  cursor:pointer;
}
.toggle{
  position:relative;
  width:60px;
  height:60px;
  background:url('menu.png');
  background-repeat: no-repeat;
  background-size:30px;
  background-position:center;
  cursor:pointer;
}
.toggle.active{
  background:url('close.png');
  background-repeat: no-repeat;
  background-size:25px;
  background-position:center;
  cursor:pointer;
}
.showcase video{
  position:absolute;
  top:0;
  left:0;
  width: 100%;;
  height:100%;
  object-fit:cover;
  opacity:0.5;
}
.overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:var(--overlay-color);
  mix-blend-mode:overlay;
}
.text{
  position:relative;
  z-index:10;
}
.text h2{
font-size:5em;
font-weight:800;
line-height:1 em;
text-transform:uppercase;
}
.text h3{
font-size:4em;
font-weight:700;
color:#fff;
line-height:1em;
text-transform:uppercase;
}
.text p{
font-size:1.1em;
margin:20px 0;
font-weight:400;
max-width:700 px;
}
.text a{
  display:inline-block;
  font-size:large;
  background:#fff;
  padding:10px 30px;
  text-decoration: lightgreen;
  color:#111;
  margin-top:10px;
  text-transform:uppercase;
  letter-spacing:20px;
}
.text a:hover{
  letter-spacing:6px;
}
.social{
  position:absolute;
  bottom:20px;
  z-index:10;
  display:flex;
  justify-content: center;
  align-items:center;
}
.social li{
list-style:none;
}
.social li a{
  display:inline-block;
  filter:invert(1);
  margin-right:20px;
  transform:scale(0.5);
  transition:0.5s;
}
.social li a:hover{
transform:scale(0.5) translate(-15px);
}
.menu{
  position:absolute;
  top:0;
  right:0;
  width:300px;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}
.menu ul{
  position:relative;
  list-style:none;
}
.menu ul li a{
 text-decoration: none;
 font-size:24px;
 color:grey;
}
.menu ul li a:hover{
  color:yellowgreen;
}
@media(max-width:991px){
  .showcase,.showcase header
  {
    padding:40px;
  }
  .text h2{
  font-size:3em;
  }
  .text h3{
    font-size:2em;
  }
}
